In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# 1. Load Data
df = pd.read_csv("../data/data.csv", sep=';') # Pastikan separator sesuai, kadang Excel save as CSV pakai koma (,)
df = df.dropna(axis=1, how='all')
df = df.drop(columns=[col for col in df.columns if col.endswith((".3", ".4"))])
df.head()

,tanggal,marketplacename,penerima,sku,judul,stock,tahunterbit,hargabuku,berat,lembartotal,...,urgent,tipetransaksi,servicefee,jumlah_order,jumlahcetak,kategoriutama,kategorisekunder,kategoritersier,kategorigabungan,statussku
0,8/2/2023,Shopee,Dina,AB06680,Pengantar Ekonomi Mikro,0,12/8/2021,136000,NaN,NaN,...,Normal,Eksternal,0,3,3,EKONOMI,Ekonomi,NaN,EKONOMI - Ekonomi -,Ganda
1,8/2/2023,Shopee,Muhammad Soleh,AB05572,konsep dan aplikasi K3 rumah sakit,0,19/9/2020,143000,0.0,79.0,...,Normal,Eksternal,13507,1,1,KESEHATAN,Kedokteran umum,Kesehatan Masyarakat,KESEHATAN - Kedokteran umum - Kesehatan Masyar...,Ganda
2,8/2/2023,Tiktok,heriana,AB01073,Epidemiologi,0,9/2/2015,105000,NaN,71.0,...,Normal,Eksternal,0,1,1,KESEHATAN,Kesehatan Masyarakat,NaN,KESEHATAN - Kesehatan Masyarakat -,Ganda
3,8/2/2023,Shopee,Patricia,AB06680,Pengantar Ekonomi Mikro,0,12/8/2021,136000,NaN,NaN,...,Normal,Eksternal,0,1,1,EKONOMI,Ekonomi,NaN,EKONOMI - Ekonomi -,Ganda
4,8/2/2023,Tokopedia,Saddam (),AB02359,Domain dan hosting,0,12/5/2017,143000,NaN,129.0,...,Normal,Eksternal,0,1,1,SAINS,Komputer & Teknologi,Teknik Informatika,SAINS - Komputer & Teknologi - Teknik Informatika,Unik

In [4]:
print("Ini merupakan dataset yang digunakan")
df.head()

Ini merupakan dataset yang digunakan

,tanggal,marketplacename,penerima,sku,judul,stock,tahunterbit,hargabuku,berat,lembartotal,...,urgent,tipetransaksi,servicefee,jumlah_order,jumlahcetak,kategoriutama,kategorisekunder,kategoritersier,kategorigabungan,statussku
0,8/2/2023,Shopee,Dina,AB06680,Pengantar Ekonomi Mikro,0,12/8/2021,136000,NaN,NaN,...,Normal,Eksternal,0,3,3,EKONOMI,Ekonomi,NaN,EKONOMI - Ekonomi -,Ganda
1,8/2/2023,Shopee,Muhammad Soleh,AB05572,konsep dan aplikasi K3 rumah sakit,0,19/9/2020,143000,0.0,79.0,...,Normal,Eksternal,13507,1,1,KESEHATAN,Kedokteran umum,Kesehatan Masyarakat,KESEHATAN - Kedokteran umum - Kesehatan Masyar...,Ganda
2,8/2/2023,Tiktok,heriana,AB01073,Epidemiologi,0,9/2/2015,105000,NaN,71.0,...,Normal,Eksternal,0,1,1,KESEHATAN,Kesehatan Masyarakat,NaN,KESEHATAN - Kesehatan Masyarakat -,Ganda
3,8/2/2023,Shopee,Patricia,AB06680,Pengantar Ekonomi Mikro,0,12/8/2021,136000,NaN,NaN,...,Normal,Eksternal,0,1,1,EKONOMI,Ekonomi,NaN,EKONOMI - Ekonomi -,Ganda
4,8/2/2023,Tokopedia,Saddam (),AB02359,Domain dan hosting,0,12/5/2017,143000,NaN,129.0,...,Normal,Eksternal,0,1,1,SAINS,Komputer & Teknologi,Teknik Informatika,SAINS - Komputer & Teknologi - Teknik Informatika,Unik